<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {% if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- else -%}
      <link rel="icon" href="data:,">
    {%- endif %}

    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- render 'import-map' -%}
    {%- render 'head.es-module-shims' -%}
    {%- render 'head.is-land' -%}

    {%- render 'styles-head' -%}

    {{ content_for_header }}

    <style>
      header.explorer {
        margin: 0;
        padding: 14px 16px;
        background: #171916;
      }

      h1.explorer {
        color: #76d081;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        word-wrap: break-word;
      }

      h1.explorer a {
        color: #9a9a9a;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
        word-wrap: break-word;
      }

      h2.explorer {
        color: #1a1a1a;
        font-size: 18px;
        font-family: Inter, arial, sans-serif;
        font-weight: 600;
        line-height: 28px;
        margin: 2px 0 12px 0;
      }

      section.explorer {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        flex: 1 0 0;
        flex-flow: column wrap;
        padding: 24px;
      }
    </style>
  </head>

  <body>
    {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

    {%- if contentForQuerystring contains 'view=' -%}
      {%- assign view_name = contentForQuerystring
        | split: 'view='
        | last
        | split: '"'
        | first
        | split: '\u0026'
        | first
      -%}
    {%- endif -%}

    {%- if view_name == '' or view_name == null -%}
      <header class="explorer">
        <h1 class="explorer">
          {%- if view_name == '' or view_name == null -%}
            Component Directory
          {%- else -%}
            <a href="/">Component Directory</a>
            <span style="color: #9A9A9A;">&gt;</span>
            {{ view_name }}
          {%- endif -%}
        </h1>
      </header>
      <section class="explorer">
        {{ content_for_layout }}
      </section>
    {%- else -%}
      {{ content_for_layout }}
    {%- endif -%}
  </body>
</html>
